@import "./partials/material-color";

.UserControl {
  background: $indigo;
  width: 26vw;
  height: 87vh;
  padding: 20px;
  position: relative;

  .game-options {
    width: 90px;
    height: 90px;
    border: 3px solid;
    border-radius: 50px;
    border-color: $cyan;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 60px;
    position: relative;
  }

  i {
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $yellow;
  }

  .game-options:hover {
    border-color: $amber;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }
}

.UserControl::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: $red;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

h5 {
  text-align: center;
  background: #bbdefb;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border-radius: 40px;
  color: $brown;
}
